{% extends "index.html" %}
{% block content %}
	
	<div class="container">
		<div class="jumbotron text-center">
			<h1>About Me</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">	
			<div class = "col-sm-12">
				<h2 id = "blue">Summary Rough Draft</h2>
				<hr>
				<p>I am an aspiring full stack developer who currently has skills in both front end and back end development. I love constantly learning new skills so I may become the most complete developer I can become. My courseload has taught me good developing practices while my personal projects have given me hands on experience with starting from scratch with a technology I am unfamiliar with and ending with a complete product and newly learned skills. Outside of constantly learning new developing practices I have a strong passion for music and sports. When I'm not working on my current projects I am at the gym playing pickup or practicing my guitar/piano skills </p>
			</div>
		</div>
		<div class = "row">
			<div class = "col-sm-12">
				<h2 id = "blue">Education Rough Draft</h2>
				<hr>
				<p>I am currently a senior at the University of Michigan studying Computer Science. The courses offered have been as rewarding as they are challenging, teaching me proper development techniques and problem solving skills which give me the confidence to tackle any development problem that may land in front of me.</p>
			</div>
		</div>
		<div class="row">
			<div class = "col-sm-12">
				<h2 id = "blue">Course Work Rough Draft</h2>
				<hr>
				<ul id = "white">
					<li>Test</li>
					<li>Test2</li>
					<li>Test3</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}