{% extends "index.html" %}
{% block content %}
	
	<div class="container">
		<div class="jumbotron text-center" id = "shadow">
			<h1>About Me</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">	
			<div class = "col-sm-12">
				<h2 id = "blue">Summary</h2>
				<hr>
				<p id = "font">I'm someone who loves to learn how to code. My goal is to become a full stack developer with skills in all the major layers of the development stack. Therefore I enjoy challenging myself to learn new technologies in order to develop new applications I'm interested in designing. I consider myself well versed in c++, python, and have recently taught myself html, css, mySQL, and javascript in order to delve into the world of web development. Outside of my professional goals I have a passion for music, basketball, and the outdoors. I play piano and guitar when I get the time and try play basketball 4-5 times a week. I'm currently looking for full time work specifically in application development or front end development. I graduate from the University of Michgian May 2017.</p>
			</div>
		</div>
		<div class = "row">
			<div class = "col-sm-12">
				<h2 id = "blue">Education</h2>
				<hr>
				<p id = "font">I am currently a senior at the University of Michigan studying Computer Science. I've taken classes in a wide range of topics from learning to devise an efficient algorithm to learning how to code securely so attackers can't abuse my applications. The assigned projects have taught me how to break down a spec and create a solution from scratch. However the most important skill I've learned during my time at Michigan is how to quickly learn new technologies in order to solve a problem I haven't encontered before.</p>
			</div>
		</div>
		<div class="row">
			<div class = "col-sm-12">
				<h2 id = "blue">Course Work</h2>
				<hr class="soften" />
				<div class = "col-sm-6">
					<ul id = "white">
						<li><b>EECS 281</b> Data Structures & Algorithms</li>
						<li><b>EECS 370</b> Computer Architecture</li>
						<li><b>EECS 388</b> Introduction to Computer Security</li>
					</ul>
				</div>
				<div class = "col-sm-6">
					<ul id = "white">
						<li><b>EECS 376</b> Theory of Computation</li>
						<li><b>EECS 493</b> User Interfaces <span>(In Progress)</span></li>
						<li><b>EECS 485</b> Web Database Information Systems <span>(In Progress)</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}