{% extends "index.html" %}
{% block content %}
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Projects</h1>
		</div>
	</div>


	<!--Testing how to get the card I want-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4" id = "card-color">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title" id = "black">Testing Title</h4>
						<hr id = "black">
						<p class="card-text" id = "black">Testing text one two three four five six seven eight nine ten eleven twelve thirteen</p>
						<a href="www.google.com" class="btn btn-primary" id ="link-margin">Google it</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4" id = "card-color">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title" id = "black">Testing Title</h4>
						<hr id = "black">
						<p class="card-text" id = "black">Testing text one two three four five six seven eight nine ten eleven twelve thirteen</p>
						<a href="www.google.com" class="btn btn-primary" id ="link-margin">Google it</a>
					</div>
				</div>
			
			</div>
		</div>
	</div>
{% endblock %}