<!DOCTYPE html>
<html>
 	<style type="text/css">    
     #soon{
  		text-align:center;
  		font-family: Trebuchet MS Bold Italic;
  		font-style:italic;
	 }

	#me{
  		text-align:center;
  		padding: 300px 0px 0px 0px;
  		font-family:Trebuchet MS;
	}

	#banner{
    	margin: auto;
    	width: 80%;
   	 	height:5px;
    	background:red;
    	color:white;
	}
    </style>

  <head>
    <title>Coming Soon</title>
  </head>
  <body>
    <h1 id="me">Chris Jordan's Website</h1>
    <h2 id="soon">Coming Soon</h2>
    <div id="banner"></div>
  </body>
</html>